# /etc/systemd/system/ishiki-bootstrap.service

[Unit]
Description=Ishiki Bootstrap Service
After=docker.service

[Service]
Type=simple
ExecStart=/opt/ishiki/bootstrap/start-boot.sh
TimeoutSec=0
StandardOutput=journal+console
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
